@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lexend Deca', serif;
  background: #f2f2f2; }

.card {
  height: 1304px;
  width: 90%;
  max-width: 340px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 4px 6px 12px 0 rgba(0, 0, 0, 0.4); }
  .card_section {
    flex: 1;
    padding: 52px;
    overflow: hidden;
    transition: 0.5s ease-in-out; }
    .card_section.active {
      flex: 9; }
  .card_section:first-child {
    background: #e38826; }
    .card_section:first-child button {
      color: #e38826; }
  .card_section:nth-child(2) {
    background: #006970; }
    .card_section:nth-child(2) button {
      color: #006970; }
  .card_section:nth-child(3) {
    background: #004241; }
    .card_section:nth-child(3) button {
      color: #004241; }
  .card_title {
    margin: 28px 0;
    display: inline-block;
    width: 100%;
    color: #f2f2f2;
    font-size: 2rem;
    font-family: 'Big Shoulders Display', serif;
    font-weight: 700;
    text-transform: uppercase; }
  .card_text, .card_learn {
    line-height: 24px;
    font-size: 0.9375rem;
    color: rgba(255, 255, 255, 0.75); }
  .card_btn {
    margin-top: 32px;
    padding: 12px 32px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-size: 0.9375rem;
    font-family: 'Lexend Deca', serif;
    border-radius: 28px;
    cursor: pointer; }
  .card_learn {
    margin-top: 0;
    height: 0;
    overflow: hidden;
    transform-origin: top center;
    animation: hideLearnSmall 0.4s ease-in both; }
  .card_section.active .card_learn {
    animation: showLearnSmall 0.4s ease-in both; }

@media (min-width: 768px) {
  .card {
    max-width: 360px; }
    .card_section.active {
      flex: 6; }
    .card_section .card_btn {
      margin-top: 52px;
      transition: background 0.5s ease-in-out, color 0.5s ease-in-out, opacity 0.3s ease-in 0.3s; }
      .card_section .card_btn:hover {
        background: transparent;
        color: #f2f2f2; }
    .card_learn {
      animation: hideLearnMedium 0.4s ease-in both; }
    .card_section.active .card_learn {
      animation: showLearnMedium 0.4s ease-in both; } }
@media (min-width: 1024px) {
  .card {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 460px;
    width: 944px;
    flex-direction: row;
    max-width: none;
    transform: translate(-50%, -50%); }
    .card_section {
      position: relative; }
      .card_section.inactive {
        padding: 52px 16px 52px 32px; }
        .card_section.inactive .card_icon {
          display: inline-block;
          text-align: center; }
        .card_section.inactive .card_text {
          height: 0;
          opacity: 0;
          visibility: hidden;
          pointer-events: none; }
        .card_section.inactive .card_btn {
          opacity: 0;
          visibility: hidden;
          pointer-events: none; }
      .card_section.active {
        flex: 7; }
    .card_text {
      max-width: 210px;
      transition: opacity 0.3s 0.4s; }
    .card_learn {
      position: absolute;
      top: 0;
      left: 100%;
      margin: 52px;
      height: 460px;
      width: 272px;
      animation: none;
      transition: transform 0.6s ease-in-out; }
    .card_section.active .card_learn {
      animation: none;
      transform: translateX(-420px);
      transition: 0.5s ease-in-out 0.2s; } }
@media (min-width: 1200px) {
  .card {
    height: 500px; }
    .card_section.active {
      flex: 4; }
    .card_section.inactive {
      padding: 52px 0; }
      .card_section.inactive .card_icon {
        margin: 0 38px; }
      .card_section.inactive .card_title {
        text-align: center; }
    .card_title {
      margin: 32px 0;
      font-size: 2.5rem; }
    .card_section .card_btn {
      margin-top: 74px; }
    .card_section.active .card_learn {
      transform: translateX(-400px); } }
@keyframes showLearnSmall {
  0% {
    height: 0;
    margin-top: 0; }
  10% {
    margin-top: 24px; }
  100% {
    margin-top: 24px;
    height: 440px; } }
@keyframes hideLearnSmall {
  0% {
    margin-top: 24px;
    height: 440px; }
  95% {
    height: 0;
    margin-top: 24px; }
  100% {
    height: 0;
    margin-top: 0; } }
@keyframes showLearnMedium {
  0% {
    height: 0;
    margin-top: 0; }
  10% {
    margin-top: 24px; }
  100% {
    margin-top: 24px;
    height: 400px; } }
@keyframes hideLearnMedium {
  0% {
    margin-top: 24px;
    height: 400px; }
  95% {
    height: 0;
    margin-top: 24px; }
  100% {
    height: 0;
    margin-top: 0; } }

/*# sourceMappingURL=main.css.map */
